# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Listing popular laguages used in Data Science
- Listing common libraries used in Data Science
- Creating a table with some Data Science Tools
- Performing some arithmatic operations in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpay
2. Matplotlib
3. Pandas

|Data Science Tools|
|------------------|
|R Studio|
|Jupyter Notebook|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author:
Juliana